.supdetailNav {
    display: flex;
    border-bottom: 1px solid #e8eaed;
}

@media (max-width:767px) {
    .supdetailNav {
        margin-top: 0
    }
}

.supdetailNav-item {
    display: inline-block;
    position: relative;
    flex: 1;
    text-align: center;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.supdetailNav-item:not(:last-child) {
    margin-right: 32px
}

@media only screen and (max-width:767px) {
    .supdetailNav-item:not(:last-child) {
        margin-right: 0
    }
}

.supdetailNav-item a {
    display: block;
    padding: 20px 0;
    color: #3e464f;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    /* Không cho xuống dòng */
    overflow: hidden;
    /* Ẩn phần vượt quá */
    text-overflow: ellipsis;
    /* Thêm "..." nếu bị tràn */
}

@media only screen and (max-width:1199px) {
    .supdetailNav-item a {
        font-size: 14px
    }
}

.supdetailNav-item:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 0%;
    height: 4px;
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.supdetailNav-item.active:after,
.supdetailNav-item:hover:after {
    width: 100%;
    background: #ff0100;
    border-radius: 3px 3px 0 0
}

.supdetailNav-item.active>a,
.supdetailNav-item:hover>a {
    color: #ff0100
}

.supdetailNav-item:last-child>a {
    font-weight: 600;
    font-size: 15px
}

.supdetailNav-item:last-child:hover:after {
    background-color: transparent
}

.supdetailNav-sublist {
    position: absolute;
    top: 103%;
    right: -34px;
    width: 632px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 20px 0 rgba(0, 41, 87, .1);
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    gap: 0;
    padding: 12px 16px;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    -webkit-transition: visibility 0s, opacity .3s;
    -moz-transition: visibility 0s, opacity .3s;
    -ms-transition: visibility 0s, opacity .3s;
    -o-transition: visibility 0s, opacity .3s;
    transition: visibility 0s, opacity .3s
}

.supdetailNav-sublist-item>a {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    padding: 10px 0 10px 16px;
    text-align: left;
    padding: 10px 0 10px 16px
}

@media only screen and (max-width:1023px) {
    .supdetailNav-sublist-item {
        margin-left: 2rem
    }
}

.supdetailNav-sublist-item.active a,
.supdetailNav-sublist-item:hover a {
    color: #ff0100;
    background-color: #e6f1fe;
    border-radius: 32px
}

.supdetailNav-item:last-child:hover .supdetailNav-sublist {
    visibility: visible;
    opacity: 1
}

.supportMain-Nav {
    position: sticky;
    top: 84px;
    background-color: #fff;
    z-index: 1
}

@media only screen and (max-width:1199px) {
    .supportMain-Nav {
        top: 68px;
        z-index: 2
    }
}

.supportMain-breadcrumb {
    margin: 40px 0 24px
}

.supportMain-breadcrumb a {
    font-size: 16px;
    color: #85909d;
    line-height: 24px
}

.supportMain-breadcrumb a:last-child {
    color: #111;
    font-family: Inter, sans-serif !important
}

.supportMain-breadcrumb_arrow {
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 9px;
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1LjE5IiBoZWlnaHQ9IjguNzQiIHZpZXdCb3g9IjAgMCA1LjE5IDguNzQiPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojOTk5O308L3N0eWxlPjwvZGVmcz48dGl0bGU+cmlnaHQ8L3RpdGxlPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTUyLjg3LDExLjI3YS4zMy4zMywwLDAsMS0uMjMuMTEuMzUuMzUsMCwwLDEtLjIzLS4wOWwtLjU1LS41NGEuMzguMzgsMCwwLDEtLjA4LS4yNS4yOS4yOSwwLDAsMSwuMDgtLjIyTDU1LjExLDcsNTEuODYsMy43M2EuMjYuMjYsMCwwLDEtLjA4LS4yMi4zNS4zNSwwLDAsMSwuMDgtLjI0bC41NS0uNTVhLjM3LjM3LDAsMCwxLC40NiwwbDQsNEEuMzkuMzksMCwwLDEsNTcsN2EuMzUuMzUsMCwwLDEtLjA4LjI0djBaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNTEuNzggLTIuNjQpIi8+PC9zdmc+) no-repeat center;
    margin: -2px 7px 0
}

.supportMain-content {
    margin-bottom: 60px
}

@media only screen and (max-width:1199px) {
    .supportMain-content {
        margin-bottom: 40px
    }
}

.supportMain-content:after {
    content: '';
    display: block;
    clear: both
}

.supportMain-content_sidebar {
    width: 282px;
    float: left;
    position: sticky;
    background-color: #fff;
    overflow-y: auto;
    max-height: calc(100vh - 148px);
    top: 148px
}

@media only screen and (max-width:1199px) {
    .supportMain-content_sidebar {
        top: 132px;
        max-height: calc(100vh - 132px)
    }
}

@media screen and (max-height:399px) {
    .supportMain-content_sidebar {
        position: relative;
        top: auto;
        max-height: 100vh
    }
}

.supportMain-content_sidebar-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #292e35;
    margin-top: 2.8rem;
    padding: 13px 8px;
    display: block
}

.supportMain-content_sidebar-submenu {
    padding-left: 20px;
    margin-bottom: 12px
}

.supportMain-content_sidebar-submenu .menu-3,
.supportMain-content_sidebar-submenu .menu-4 {
    position: relative;
    border-left: 1px solid #e8eaed
}

.supportMain-content_sidebar-submenu .menu-3:last-child,
.supportMain-content_sidebar-submenu .menu-4:last-child {
    padding-bottom: 0
}

.supportMain-content_sidebar-submenu .menu-3 a,
.supportMain-content_sidebar-submenu .menu-4 a {
    padding: 12px 44px 12px 12px
}

.supportMain-content_sidebar-submenu .menu-3:active a {
    font-weight: 600
}

.supportMain-content_sidebar-submenu .menu-4 a {
    padding-left: 32px
}

.supportMain-content_sidebar-item {
    padding-right: 2.4rem
}

@media only screen and (max-width:1199px) {
    .supportMain-content_sidebar-item {
        padding-right: 0
    }
}

.supportMain-content_sidebar-item a {
    padding: 12px 16px 12px 20px;
    color: #292e35;
    font-size: 16px;
    line-height: 24px;
    display: block
}

.supportMain-content_sidebar-item a:hover {
    background-color: #f0f1f3;
    border-radius: 8px
}

@media (max-width:1024px) {
    .supportMain-content_sidebar-item a {
        margin-top: 0 !important;
        font-size: 16px !important;
        line-height: 24px !important
    }
}

.supportMain-content_sidebar-item.active>a {
    color: #ff0100;
    position: relative;
    font-weight: 600
}

.supportMain-content_sidebar-item.active > a:before {
    font-family: 'Font Awesome 5 Free';
    content: '\f077';
    font-weight: 900;
    position: absolute;
    font-size: 16px;
    top: 12px;
    right: -4px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.supportMain-content_sidebar-item.active.down>a:before {
    font-family: 'Font Awesome 5 Free';
    content: '\f077';

}

.supportMain-content_sidebar-item.active .supportMain-content_sidebar-sublist {
    display: block
}

.supportMain-content_sidebar-item .fa-chevron-right:before {
    content: '\f078'
}

.supportMain-content_sidebar-item .fa-chevron-down:before {
    content: '\f077'
}

.supportMain-content_sidebar-sublist {
    padding-left: 15px;
    border-left: solid 2px #cfcfcf;
    display: none
}

.supportMain-content_sidebar-sublist-item.active a {
    font-weight: 600
}

.supportMain-content_sidebar-list:not(:first-child) {
    margin-left: 20px
}

/* .supportMain-content_article {
    width: calc(100% - 282px);
    float: right;
    border-left: 1px solid #e8eaed
} */
.supportMain-content_article {
    width: 100%;
    /* border-left: 1px solid #e8eaed */
}

.supportMain-content_article-title {
    padding-bottom: 24px
}

.supportMain-content_article-wrapper {
    padding: 0 28px 0 40px
}

@media only screen and (max-width:1023px) {
    .supportMain-content_article-wrapper {
        padding: 0 2rem
    }
}

.supportMain-content_article-wrapper h1,
.supportMain-content_article-wrapper h2,
.supportMain-content_article-wrapper p,
.supportMain-content_article-wrapper span {
    font-family: Inter, sans-serif !important
}

.supportMain-content_article-wrapper p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
    padding: 0
}

.supportMain-content_article-wrapper img {
    max-width: 100%;
    display: block;
    margin: 0 auto
}

.supportMain-content_article-wrapper ol li {
    list-style: decimal;
    margin-left: 32px
}

.supportSearch .supportHeader {
    padding-bottom: 0
}

.supportSearch-main {
    margin-top: 0;
    margin-bottom: 50px
}

.supportSearch-main .container:after {
    content: '';
    display: block;
    clear: both
}

.supportSearch-main_content {
    margin: auto;
    display: flex
}

.supportSearch-main_left {
    display: none
}

.supportSearch-main_left a {
    font-size: 15px;
    font-family: Inter, sans-serif !important;
    color: #00a3ff;
    display: block
}

.supportSearch-main_right {
    margin: auto;
    padding-left: 3px;
    padding-right: 3px
}

.supportSearch-main_right-result {
    font-size: 16px;
    line-height: 24px;
    color: #3e464f;
    display: block;
    margin-bottom: 24px
}

@media only screen and (max-width:767px) {
    .supportSearch-main_right-result {
        margin-bottom: 16px
    }
}

.supportSearch-main_right-list {
    margin-bottom: 24px
}

.supportSearch-main_right-item {
    padding: 14px 0 13px
}

.supportSearch-main_right-title {
    display: block;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    color: #002249;
    margin-bottom: 2px
}

.supportSearch-main_right-title:hover {
    color: #ff0100
}

.supportSearch-main_right-title:active,
.supportSearch-main_right-title:focus {
    color: #ff0100
}

.supportSearch-main_right-cate {
    font-size: 16px;
    color: #292e35;
    display: block
}

.supportSearch-main_right-sapo {
    font-size: 15px;
    color: #111;
    line-height: 24px
}

.supportSearch-main_right-paging {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative
}

.supportSearch-main_right-paging .page-numbers {
    color: #292e35;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    margin-right: 8px
}

.supportSearch-main_right-paging .page-numbers.current {
    background: #ff0100;
    color: #fff !important;
    border-radius: 6px
}

.supportSearch-main_right-paging .page-numbers.next,
.supportSearch-main_right-paging .page-numbers.prev {
    padding: 8px;
    color: #677484
}

.supportSearch-main_right-paging .page-numbers.next span,
.supportSearch-main_right-paging .page-numbers.prev span {
    display: flex;
    align-items: center
}

.supportSearch-main_right-paging .page-numbers.next i,
.supportSearch-main_right-paging .page-numbers.prev i {
    width: 16px;
    height: 16px;
    font-size: 14px;
    text-align: center;
    color: #677484;
    display: flex;
    align-items: center;
    justify-content: center
}

.supportSearch-main_right-paging .page-numbers.prev {
    margin-right: 16px
}

.supportSearch-main_right-paging .page-numbers.next {
    margin-left: 8px
}

.supportSearch-main_right-paging .page-numbers.dots {
    position: relative
}

.supportSearch-main_right-paging .page-numbers.dots:before {
    font-family: 'Font Awesome 6 Pro';
    font-weight: 400;
    content: '\f141';
    position: absolute;
    font-size: 24px;
    width: 32px;
    height: 32px;
    top: 8px;
    left: 6px;
    color: #c2c7ce;
    background-color: #fff
}

.supportSearch-main_right-button {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: rgba(0, 163, 255, 0);
    font-family: Inter, sans-serif !important;
    text-align: center
}

.supportSearch-main_right-button a {
    color: #111;
    display: block;
    width: 100%;
    height: 100%
}

.supportSearch-main_right-button.active,
.supportSearch-main_right-button:hover {
    background-color: #00a3ff
}

.supportSearch-main_right-button.active a,
.supportSearch-main_right-button:hover a {
    color: #fff
}

.btn-get-otp {
    height: 36px;
    font-size: 13px
}

.time-exist-otp {
    position: absolute;
    top: 5px;
    right: 10px;
    color: red;
    font-size: 13px
}

@media all and (min-width:1024px) {
    .container-header .logo {
        position: relative
    }

    .navbar-kiotviet .nav-kiotviet li.login a {
        position: relative
    }

    .home .banner-home,
    .home .box-banner-home,
    .page-template-homepage .banner-home,
    .page-template-homepage .box-banner-home {
        position: relative
    }

    .home .banner-home .text-banner .box-popup-register,
    .home .box-banner-home .text-banner .box-popup-register,
    .page-template-homepage .banner-home .text-banner .box-popup-register,
    .page-template-homepage .box-banner-home .text-banner .box-popup-register {
        position: relative
    }

    .home .box-banner-home .banner:before,
    .page-template-homepage .box-banner-home .banner:before {
        display: none
    }
}

body {
    font-family: Inter, sans-serif !important
}

@media all and (max-width:1920px) {
    .main-content h1.title {
        font-size: 37px
    }
}

@media all and (max-width:1366px) {
    .box-kiotviet-1 p {
        padding: 0 100px
    }

    .dang-ky #register_step2,
    .dang-ky #register_step3,
    .dang-ky #register_step4 {
        margin-top: 15px
    }

    .dang-ky .register_box {
        margin-top: 80px
    }

    .dang-ky .register_box .register_head {
        padding-bottom: 10px
    }

    .dang-ky #front-register-error {
        top: 55px !important
    }

    .dang-ky .register_box .register-box-btn {
        padding-top: 15px
    }
}

@media all and (max-width:1023px) {
    .tinh-nang .box-banner.sub-content {
        padding: 30px 15px 0 15px;
        height: auto
    }

    .tinh-nang .box-banner.sub-content .wrapper-feature-tn {
        padding-left: 40px
    }

    .tinh-nang .box-banner.sub-content .wrapper-feature-tn h3 {
        font-size: 33px;
        padding: 30px 0 20px 0
    }

    .tinh-nang .box-banner.sub-content img {
        max-width: 100%
    }

    .tinh-nang .box-banner.sub-content ul li {
        font-size: 20px;
        padding-left: 35px;
        margin-bottom: 15px
    }

    .box-four-step .row .support_item .box-step:focus img,
    .box-four-step .row .support_item .box-step:hover img {
        display: none
    }

    .box-list-video .box-video-support {
        padding-right: 0
    }

    .box-conduct-use .bg-white {
        padding: 30px
    }

    .box-video-support .list-video-support {
        max-height: 315px
    }

    .home .banner .right-banner h1 {
        padding-right: 0
    }

    .qua-tang .box-banner-home {
        background-position: 38% top !important
    }

    .navbar-kiotviet .nav-kiotviet li ul.activesub li.active {
        background-color: #1285c0
    }

    li.ht:hover ul {
        display: none !important
    }

    .navbar-kiotviet .nav-kiotviet li i {
        display: inline-block;
        font-size: 14px;
        position: relative;
        top: -3px;
        right: -4px
    }

    .navbar-kiotviet .nav-kiotviet li i.fa-sort-asc {
        top: 3px
    }

    .navbar-kiotviet .nav-kiotviet li .tab {
        display: block
    }

    .navbar-kiotviet .nav-kiotviet li .desktop {
        display: none
    }

    .poup-register-partner.ajax-auth {
        width: 100%;
        margin-left: 0;
        left: 15px
    }

    .poup-register-partner.ajax-auth .primary-poup ul li {
        margin-bottom: 20px
    }

    .poup-register-partner.ajax-auth .title h3 {
        font-size: 22px
    }

    .box-banner-home .banner .right-banner h1 {
        padding-right: 0
    }

    .navbar-collapse.collapse {
        padding: 0
    }

    .sub-content.banner-page-other {
        background-color: transparent;
        padding: 0 15px
    }

    .navbar-kiotviet .nav-kiotviet li a {
        font-size: 12px
    }

    .container {
        width: 100%
    }

    .box-news .box-list-news .list-new .content-new {
        padding-right: 0
    }

    .box-register-footer .hot-line {
        padding: 0
    }

    .main-page .box-introduces .row {
        margin-left: -15px;
        margin-right: -15px
    }

    .main-page .box-introduces .row .col-md-4 {
        padding-left: 15px;
        padding-right: 15px;
        width: 33.333%;
        float: left
    }

    .main-page h2.title {
        line-height: 36px
    }

    .register_box {
        max-width: 100%
    }

    .box-kiotviet .row .col-md-3 {
        width: 25%;
        float: left
    }

    .box-industry .box-title,
    .box-industry .industry-highlights-heading,
    .box-industry .industry-highlights-item {
        padding: 15px 0 35px 0
    }

    .box-news .box-list-news .list-new {
        width: 50%;
        float: left
    }

    .box-news .box-list-news .list-new .ing-new {
        width: 155px
    }

    .box-menu-key .list-menu-key {
        width: 33.33%;
        float: left
    }

    .box-technology .col-md-5 {
        width: 50%;
        float: left;
        right: 50%
    }

    .box-technology .col-md-6 {
        width: 50%;
        float: left
    }

    .box-technology .col-md-7 {
        width: 50%;
        float: left;
        left: 50%
    }

    .box-register-footer .hot-line .row .col-md-4 {
        width: 33.33%;
        float: left
    }

    .box-conduct-use {
        margin: 0
    }

    .box-four-step .support_item {
        width: 50%;
        margin-bottom: 40px;
        float: left
    }

    .box-top-support .top-support span.pull-left {
        float: none !important;
        display: block;
        margin-bottom: 10px
    }

    .box-top-support .top-support .list li.pull-left .show-dropbox {
        margin: 0;
        display: none !important;
        left: 0
    }

    .box-top-support .top-support .list li.pull-left .show-dropbox-2 {
        left: auto;
        right: 0;
        margin: 0
    }
}

@media all and (max-width:1023px) and (min-width:769px) {
    .home .banner {
        background-position-x: 40%;
        margin-top: 54px
    }

    .home .banner .right-banner {
        padding: 50px 15px 0 65px
    }

    .home .banner .right-banner h1 {
        padding-right: 0
    }
}

@media all and (max-width:992px) {
    .nav-mobile ul li a {
        display: block;
        padding: 0 15px
    }

    .news-kv .owl-wrapper-outer {
        margin: 0
    }

    .news-kv .owl-item {
        padding: 0
    }

    .news-kv .owl-item .item {
        padding: 0
    }

    .nav-second-mobile li a {
        display: block;
        padding: 0 20px
    }

    .single-post .nav-second-mobile {
        margin-top: 0
    }

    .popup-cafe .pop-wrap {
        width: 90%;
        margin: 5px auto
    }

    .popup-cafe .pop-wrap .pop-btn {
        font-size: 16px;
        padding: 8px 15px;
        line-height: 20px;
        bottom: 10px;
        right: 15px
    }

    .popup-cafe .pop-wrap .pop-cafe-close {
        top: 25px;
        right: 5px;
        font-size: 18px
    }
}

@media all and (max-width:992px) and (orientation:portrait) {
    .popup-cafe .pop-wrap .pop-btn {
        position: relative;
        display: block;
        text-align: center;
        bottom: auto;
        right: auto;
        background: #fff;
    }
}

@media all and (max-width:1200px) {
    .blog-video .blog-video-list {
        margin-bottom: 0
    }

    .blog-video .blog-video-list .owl-wrapper-outer {
        margin: 0
    }

    .blog-video .blog-video-list .owl-item {
        padding: 0
    }

    .blog-video .blog-video-list .owl-item .item {
        padding: 0
    }

    .blog-other .blog-other-list {
        margin: 0
    }

    .blog-other .wrapper-qt-right {
        padding: 10px 20px;
        float: none;
        width: auto
    }

    .blogs-list li .imgBg {
        height: 270px
    }

    .tinh-nang .box-banner.sub-content {
        padding: 10px 0 0 0;
        height: auto !important
    }

    .tinh-nang .box-banner.sub-content .wrapper-feature-tn {
        padding-left: 30px
    }

    .tinh-nang .box-banner.sub-content .wrapper-feature-tn h3 {
        font-size: 24px;
        padding: 0 0 20px 0
    }

    .home .banner .box-popup-register:before {
        background-size: cover;
        width: 100%
    }

    .box-four-step .row .support_item .box-step:focus img,
    .box-four-step .row .support_item .box-step:hover img {
        display: none
    }

    .box-banner-home .banner .right-banner {
        padding: 0
    }

    .top-video .col-sm-4 {
        padding-left: 10px;
        width: 40%;
        float: left
    }

    .top-video .col-sm-8 {
        width: 60%;
        float: left
    }

    .top-video .register {
        font-size: 18px;
        line-height: 48px
    }

    .top-video .register i {
        font-size: 22px;
    }

    .page-support-video .box-video-support {
        margin-top: 0;
    }

    .content-video h1,
    .title-video {
        font-size: 24px
    }

    .support_catg {
        color: #333;
        font-size: 24px;
        margin-bottom: 15px;
        padding-left: 20px
    }

    .support_catg i {
        font-size: 20px;
        padding-right: 10px
    }

    .page-support-detail {
        margin-top: 10px
    }

    .page-support-detail .col-sm-9 {
        width: 100%
    }

    .title-support {
        font-size: 26px
    }

    .box-conduct-use .col-xs-4 {
        width: 50%
    }

    .page-support .box-banner {
        background-position-x: 58%
    }

    .box-video-support .list-video-support {
        max-height: 230px;
        padding: 20px 10px 20px 0
    }

    .banner .right-banner h1 {
        font-size: 32px
    }

    .box-video-support {
        margin-top: 20px
    }
}

